/* addBook.css */


/*Corregir lo que está hecho acá, es un desastre!*/

.container {
  max-width: 350px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
}

h2 {
  font-size: 28px;
  font-weight: 600;
  color: #00bfff;
  margin-bottom: 20px;
}

#add-book-form-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  position: relative;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 5px 5px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

input[type="text"] + span,
input[type="email"] + span,
input[type="password"] + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

input[type="text"]:placeholder-shown + span,
input[type="email"]:placeholder-shown + span,
input[type="password"]:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

input[type="text"]:focus + span,
input[type="text"]:valid + span,
input[type="email"]:focus + span,
input[type="email"]:valid + span,
input[type="password"]:focus + span,
input[type="password"]:valid + span {
  color: #00bfff;
  top: 0;
  font-size: 0.7em;
  font-weight: 600;
}

#error-message,
#success-message {
  display: none;
  color: red;
}

button[type="submit"] {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transition: .3s ease;
  background-color: #00bfff;
}

button[type="submit"]:hover {
  background-color: #00bfff96;
}

#error-message,
#success-message {
  margin-top: 10px;
}

@keyframes pulse {
  from{
    transform: scale(0.9);
    opacity: 1;
  }

  to{
    transform: scale(1.8);
    opacity: 0;
  }
}